.header{
  height: 80px;
  background: #a5fca0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h1{
    color: #0c0328;
    font-size: 30px;
    font-weight: bold;
  }
}
