.wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;
  margin: 50px auto;
  .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    button{
      outline: none;
      background: none;
      border: none;
      color: #035000;
      font-weight: 500;
      font-size: 20px;
      transition: all .2s;
      &:hover{
        transform: scale(1.1);
      }
    }
    .button-red{
      color: darkred;
    }
  }
  .contacts{
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
}
